body{
    background-color: #fbfffe;
    background-attachment: fixed;
    background-repeat: no-repeat;
    font-size: 15;
    font-family: 'Oleo Script';
    margin: 0;
    padding: 0;
}

p{
    margin: 15px;
}


#paginaInicial{
    color:#6D676E;
    text-align: center; 
}

li{
    list-style: none;
    display: inline;
    
    padding: 10px;
    background-color: #6D676E;
    color:#FAA916;
    font-weight: bold;
}

ul{
    text-align: center;
    background-color: #6D676E;
    padding: 10px;
}

h1, h2{
    color: #FAA916;
    font-weight: bold;
    text-align: center;
    background-color:#6D676E;
}

h3{
    font-weight: bold;
    color: #FAA916;
    margin: 10px;
}

#capa{
    width: 100%;
    height: 50%;
}

a{
    text-decoration: none;
}

.banner{
    width: 50%;
    height: 100%;
}


.grid-container{
    display: grid;
    grid-template-columns: 50% 50%;
}

#item1{
    grid-column-start: 1;
    grid-row-start: 1;
    grid-row-end: 1;
    
    text-align: center;
    font-weight: bold;
    background-color: #6D676E;
    color: #FAA916;
}
#item2{
    grid-column-start: 1;
    grid-row-start: 2;
    grid-row-end: 2;
    
    background-color: #96031A;
    text-align: center;
}

#item3{
    grid-column-start: 2;
    grid-row-start: 1;
    grid-row-end: 1;
    
    text-align: center;
    font-weight: bold;
    background-color: #6D676E;
    color: #FAA916;
}

#item4{
    grid-column-start: 2;
    grid-row-start: 2;
    grid-row-end: 2;
    
    background-color: #96031A;;
    text-align: center;
}

#item5{
    grid-column-start: 1;
    grid-row-start: 3;
    grid-row-end: 3;
    
    text-align: center;
    font-weight: bold;
    background-color: #6D676E;
    color: #FAA916;
}

#item6{
    grid-column-start: 1;
    grid-row-start: 4;
    grid-row-end: 4;
    
    background-color: #96031A;;
    text-align: center;
}

#item7{
    grid-column-start: 2;
    grid-row-start: 3;
    grid-row-end: 3;
    
    text-align: center;
    font-weight: bold;
    background-color: #6D676E;
    color: #FAA916;
}

#item8{
    grid-column-start: 2;
    grid-row-start: 4;
    grid-row-end: 4;
    
    background-color: #96031A;;
    text-align: center;
}

#item9{
    grid-column-start: 1;
    grid-row-start: 5;
    grid-row-end: 5;
    
    text-align: center;
    font-weight: bold;
    background-color: #6D676E;
    color: #FAA916;
}

#item10{
    grid-column-start: 1;
    grid-row-start: 6;
    grid-row-end: 6;
    
    background-color: #96031A;;
    text-align: center;
}

#item11{
    grid-column-start: 2;
    grid-row-start: 5;
    grid-row-end: 5;
    
    text-align: center;
    font-weight: bold;
    background-color: #6D676E;
    color: #FAA916;
}

#item12{
    grid-column-start: 2;
    grid-row-start: 6;
    grid-row-end: 6;
    
    background-color: #96031A;;
    text-align: center;
}

#item13{
    grid-column-start: 1;
    grid-row-start: 7;
    grid-row-end: 7;
    
    text-align: center;
    font-weight: bold;
    background-color: #6D676E;
    color: #FAA916;
}

#item14{
    grid-column-start: 1;
    grid-row-start: 8;
    grid-row-end: 8;
    
    background-color: #96031A;;
    text-align: center;
}

#item15{
    grid-column-start: 2;
    grid-row-start: 7;
    grid-row-end: 7;
    
    text-align: center;
    font-weight: bold;
    background-color: #6D676E;
    color: #FAA916;
}

#item16{
    grid-column-start: 2;
    grid-row-start: 8;
    grid-row-end: 8;
    
    background-color: #96031A;;
    text-align: center;
}

#item17{
    grid-column-start: 1;
    grid-row-start: 9;
    grid-row-end: 9;
    
    text-align: center;
    font-weight: bold;
    background-color: #6D676E;
    color: #FAA916;
}

#item18{
    grid-column-start: 1;
    grid-row-start: 10;
    grid-row-end: 10;
    
    background-color: #96031A;;
    text-align: center;
}

#item19{
    grid-column-start: 2;
    grid-row-start: 9;
    grid-row-end: 9;
    
    text-align: center;
    font-weight: bold;
    background-color: #6D676E;
    color: #FAA916;
}

#item20{
    grid-column-start: 2;
    grid-row-start: 10;
    grid-row-end: 10;
    
    background-color: #96031A;;
    text-align: center;
}

section {
  width: 100%;
  display: inline-block;
  background: #6D676E;
  height: 50vh;
  text-align: center;
  font-size: 22px;
  font-weight: 700;
  text-decoration: underline;
}

.footer-distributed{
	background: #6D676E;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 16px sans-serif;
	padding: 55px 50px;
    
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left{
	width: 40%;
}

/* The company logo */

.footer-distributed h3{
	color:  #ffffff;
	font: normal 36px 'Open Sans', cursive;
	margin: 0;
}

.footer-distributed h3 span{
	color:  #FAA916;
}

/* Footer links */

.footer-distributed .footer-links{
	color:  #ffffff;
	margin: 20px 0 12px;
	padding: 0;
}

.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
  font-weight:400;
	text-decoration: none;
	color:  inherit;
}

.footer-distributed .footer-company-name{
	color:  #222;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center{
	width: 35%;
}

.footer-distributed .footer-center i{
	background-color:  #33383b;
	color: #ffffff;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope{
	font-size: 17px;
	line-height: 38px;
}

.footer-distributed .footer-center p{
	display: inline-block;
	color: #ffffff;
  font-weight:400;
	vertical-align: middle;
	margin:0;
}

.footer-distributed .footer-center p span{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}

.footer-distributed .footer-center p a{
	color:  lightseagreen;
	text-decoration: none;;
}

.footer-distributed .footer-links a:before {
  content: "|";
  font-weight:300;
  font-size: 20px;
  left: 0;
  color: #fff;
  display: inline-block;
  padding-right: 5px;
}

.footer-distributed .footer-links .link-1:before {
  content: none;
}

/* Footer Right */

.footer-distributed .footer-right{
	width: 20%;
}

.footer-distributed .footer-company-about{
	line-height: 20px;
	color:  #92999f;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}

.footer-distributed .footer-company-about span{
	display: block;
	color:  #ffffff;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 20px;
}

.footer-distributed .footer-icons{
	margin-top: 25px;
}

.footer-distributed .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  #33383b;
	border-radius: 2px;

	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;

	margin-right: 3px;
	margin-bottom: 5px;
}

/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 880px) {

	.footer-distributed{
		font: bold 14px sans-serif;
	}

	.footer-distributed .footer-left,
	.footer-distributed .footer-center,
	.footer-distributed .footer-right{
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
	}

	.footer-distributed .footer-center i{
		margin-left: 0;
	}

}

